.button {
    border: none;
    padding: 10px 20px;
    border: 4px;
    outline: none;
}
.red {
    background: red;
}

.green {
    background: green;
}

.container {
    .bigButton {
        width: 300px;
        height: 60px;
    }
}

.code {
    padding: 20px;
    background: #e0e0e0;
    border-radius: 10px;
}

$primary-color: #f40;
 
:export {
  primaryColor: $primary-color;
}

